In [28]:
##⦁	Use the constructor methods to create different data types in python (integer,float,string,list,tuple,dictionary,set etc.).
#Also use object literals to create those data types

# data types
# Constructor method
x = str("Hello World")
print(x)
#object literal
dat_str = "Hello World"
print(type(dat_str))


# Constructor method
y = tuple(("apple", "bus","car"))
print(y)          
#object literal
data_tuple = ('apple','bus','car')
print(type(data_tuple))

# Constructor method
z = int(20)
print(z)
#object literal
dat_int = 20
print(type(dat_int))

# Constructor method
a = float(20.01)
print(a)
#object literal
dat_float = 20.01
print(type(dat_float))

# Constructor method
b = list(['apple','banana','cherry'])
print(b)
#object literal
dat_list = ['apple','banana','cherry']
print(type(dat_list))

#constructor method
c = dict({"name" : "John", "age" : 30, "Job" : "Developer"})
print(c)
#object literal
dat_dict = {"name" : "John", "age" : 30, "Job" : "Developer"}
print(type(dat_dict))

#constructor method
d = set({'apple', 'bus','car'})
print(d)
#object literal
data_set = {'apple','bus','car'}
print(type(data_set))

e = True
print(type(e))

Hello World
<class 'str'>
('apple', 'bus', 'car')
<class 'tuple'>
20
<class 'int'>
20.01
<class 'float'>
['apple', 'banana', 'cherry']
<class 'list'>
{'name': 'John', 'age': 30, 'Job': 'Developer'}
<class 'dict'>
{'bus', 'apple', 'car'}
<class 'set'>
<class 'bool'>

In [61]:
#	Once you create an object of each data type, run dir(object). 
#Navigate the magic methods/dunder methods and other methods and attributes of each object. 
#Try to implement those methods and attributes as many as possible.
#Eg:  a=int(5)
       #dir(a)
       #print(a.__add__(5))
#Implementing above dunder method is same as print(a+5)
#Verify the data types using methods type and isinstance.
dir(a)
print(a.__add__(5))
print(a.__float__)

k=(a.__getattribute__)

print(type(k))
print(a.__sub__(5))
print(a.__mod__)
print(a*3)
print(a/4)
print(a%3)
print(a.__mod__(3))

25.01
<method-wrapper '__float__' of float object at 0x000001BAC9C50B70>
<class 'method-wrapper'>
15.010000000000002
<method-wrapper '__mod__' of float object at 0x000001BAC9C50B70>
60.03
5.0025
2.0100000000000016
2.0100000000000016

In [39]:
print(isinstance(a, float))

True

In [40]:
dir(a)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [67]:
##different ways to format the string. 
print("I love python")
print("I love" + " python")
print("I love" + " python" + " version", 3.10)
print("I love" + " python" +" version %2f"%3.10)

I love python
I love python
I love python version 3.1
I love python version 3.100000

In [71]:
print("I love %s version %.2f"%("python",3.10))

I love python version 3.10

In [78]:
print("I love {} version {}".format("python", 3.10))

I love python version 3.1

In [73]:
print("I love {} version {}".format("python", "3.10"))

I love python version 3.10

In [79]:
print("I love {} version {:.2f}".format("python", 3.10))

I love python version 3.10

In [81]:
print("I love {1} version {0}".format("python", "3.10"))

I love 3.10 version python

In [84]:
print("I love {p1} version {version:.2f}".format(p1="python", version=3.10))

I love python version 3.10

In [89]:
info={"p1":"python", "version": 3.10}
print(f"I love {info.get('p1')} version {info.get('version'):.2f}")

I love python version 3.10

In [90]:

print(F'I love {info["p1"]} version {info["version"]:.2f}')

I love python version 3.10

In [94]:
# f string conditional
batch = 'ML'
print(f'I love {"javascript" if batch == "FS" else "python"}')

I love python

In [133]:
##⦁	Familiarize yourself with indexing in python.Iterables can be accessed using index
##values in python. Eg: list, tuple,dict, set 
countries = ["Finland","Sweden","Denmark", "Netherlands", "Germany","Norway","Iceland"]
print(countries.index("Sweden"))#index of swede
print(countries[1:])# all the items except first
print(countries[:-1]) #all the item except last"
print(countries[-1]) #Find the last item using negative indexing
print(countries[-3:])#Find the last three item using negative indexing
print(countries[1::2]) #Grab all the items with odd indices
print(countries[0], countries[-1])#Find the first and last item for the list
print(countries[-4:-1])#Get [”Netherlands”,”Germany”,”Norway”] using negative indexing
print(countries[::-1])# reverse the list
print(countries[::-2])
print(countries[1:100:2])
print(countries[len(countries)-1:0:2])
print(countries[-3:-6:-1])#Get the output ['Germany', 'Netherlands', 'Denmark']

####Use enumerate method to get index and values in the list
for index,country in enumerate(countries):
    print(index, country)

1
['Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway']
Iceland
['Germany', 'Norway', 'Iceland']
['Sweden', 'Netherlands', 'Norway']
Finland Iceland
['Netherlands', 'Germany', 'Norway']
['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']
['Iceland', 'Germany', 'Denmark', 'Finland']
['Sweden', 'Netherlands', 'Norway']
[]
['Germany', 'Netherlands', 'Denmark']
('Germany', 'Netherlands', 'Denmark')
0 Finland
1 Sweden
2 Denmark
3 Netherlands
4 Germany
5 Norway
6 Iceland

In [142]:
###Exercise on dictionaries
list_key = ["a","b","c","d"]
list_value = [1,2,3,4]
my_dict =dict(zip (list_key,list_value))
my_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [151]:
##⦁	Create two dictionaries, merge them into one.
dict1 = {"John":30, "Sam": 25,"Sagar":32}
dict2 = {"Ron":50, "David":35}
merge_dict = {**dict1,**dict2}#unpacking method
print("merge_dict = {}".format(merge_dict))
## update method
merger_dict = dict1.copy()
merger_dict.update(dict2)
print(merger_dict)

merge_dict = {'John': 30, 'Sam': 25, 'Sagar': 32, 'Ron': 50, 'David': 35}
{'John': 30, 'Sam': 25, 'Sagar': 32, 'Ron': 50, 'David': 35}

In [17]:
##################
students=["Duy", "Laxmi","Antonio","Maria"]
course=["Python","Database","ML"] 
students_profile = {xxx :course for xxx in students}
print(students_profile)
###⦁Modify Antonio’s course to ["JavaScript","Database","NodeJS"]
students_profile['Antonio'] =  ["JavaScript","Database","NodeJS"]
print(students_profile)
##⦁	Add “ReactJs” to Anonio’s course
students_profile['Antonio'].append('Reactjs')
print(students_profile)
##Replace Antonio’s “ReactJs” to “Vuejs”
students_profile['Antonio'][students_profile['Antonio'].index('Reactjs')] = 'Vuejs'
print(students_profile)

#Remove an item from dictionary
del students_profile['Maria']
print(students_profile)

students_profile.pop('Duy')
print(students_profile)

item =students_profile.popitem()
print(students_profile)
print(item)

#Hint: use del statement or pop/ popitem method. Observe the differences

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['Python', 'Database', 'ML'], 'Maria': ['Python', 'Database', 'ML']}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS'], 'Maria': ['Python', 'Database', 'ML']}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'Reactjs'], 'Maria': ['Python', 'Database', 'ML']}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'Vuejs'], 'Maria': ['Python', 'Database', 'ML']}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'Vuejs']}
{'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'Vuejs']}
{'Laxmi': ['Python', 'Database', 'ML']}
('Antonio', ['JavaScript', 'Database', 'NodeJS', 'Vuejs'])