<div style = "text-align: left"><font size = 8 color = "#B22222" face = "verdana"><b>Integrify</b></font></div>
<div style = "text-align: left"><font size = 6 color = "#00008B" face = "verdana"><b>Data Type Assignment_1</b></font></div>
<div style = "text-align: leftt"><font><i>By Jeremiah Aremu</i></font></div>
<div style = "text-align: leftt"><font>11th March 2023</font></div>

In [1]:
#Code space custom format 
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=RuntimeWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## 1.0 Create different data types using the constructor method and literals

#### Integer

In [5]:
# interger using constructor method
number = int(5)
print(type(number))

<class 'int'>

In [7]:
# integer using object literals
numbers = 2
print(type(numbers))

<class 'int'>

#### Float

In [8]:
# float using constructor 
float_const = float(2.3)
print(type(float_const))

<class 'float'>

In [9]:
# float using object literals
float_lit = 2.3
print(type(float_lit))

<class 'float'>

#### String

In [11]:
# string using constructor
string_cosntr = str("Hello world")
print(type(string_cosntr))

<class 'str'>

In [12]:
# string object using literals 
string_litr = "Hello world"
print(type(string_litr))

<class 'str'>

#### List

In [14]:
list_constr = list([1,2,3,4])
print(type(list_constr))

<class 'list'>

In [15]:
list_litr = [1,2,3,4]
print(type(list_constr))

<class 'list'>

#### Tuple

In [17]:
tuple_constr = tuple((1,2,3))
print(type(tuple_constr))

<class 'tuple'>

In [18]:
tuple_litr = (1,2,3)
print(type(tuple_litr))

<class 'tuple'>

#### Dictionary

In [19]:
dict_constr = dict({"Jerry": "Nigerian", "Victor": "Ghanian", "Timo": "Finnish"})
print(type(dict_constr))

<class 'dict'>

In [20]:
dict_litr = {"Jerry": "Nigerian", "Victor": "Ghanian", "Timo": "Finnish"}
print(type(dict_litr))

<class 'dict'>

#### Set

In [21]:
set_constr = set((1,4,5,6,8))
print(type(set_constr))

<class 'set'>

In [23]:
set_litr = {1,4,5,6,8}
print(type(set_litr))

<class 'set'>

## 2.0 Python operators

#### Arithmetic Operators

In [3]:
# operands
x  = 5 
y = 2

In [5]:
# addition
5//2

2

In [6]:
# subtraction 
5 -2

3

In [7]:
# Multiplication
5*2

10

In [8]:
# divison 
5/2

2.5

In [9]:
# Modulus
x%y

1

In [10]:
# Exponetiation
x ** y

25

In [11]:
# floor division
5//2

2

#### Assignment operators

In [12]:
x = 5
x

5

In [14]:
x+=3
x

11

In [17]:
y = 9
y-=3
y

6

In [18]:
z = 2
z >>=1
z

1

In [23]:
b = 10
b <<= 3
b

80

#### Comparison operators

In [25]:
print(y)
x

6

5

In [26]:
# is equal to 
y == x

False

In [27]:
# not equal to 
x != y

True

In [28]:
# greater than
y > x

True

In [29]:
y < x

False

In [30]:
# greaterthan or equal to 
x >= y

False

In [31]:
# less than or equal to 
x <= y

True

#### Logical Operators

In [33]:
# "and" returns "True" if both statements are true
a = 2 
y = 5
if a>1 and y<6:
    print("yes")

yes

In [34]:
#"or" returns "True" if one the statement is true
if a <3 or a == 5:
    print("no")

no

In [36]:
# "not" is used to reverse the result of a logical operator
# "and" returns "True" if both statements are true
a = 2 
y = 5
if not(a>1 and y<6):
    print("yes")
else:
    print("condition not met")

condition not met

In [37]:
#"or" returns "True" if one the statement is true
if not(a <3 or a == 5):
    print("no")
else:
    print("yes")

yes

#### Identity operator

In [39]:
# "is" returns True if both variables are the same object
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z) # True because x and z is the same object x

True

In [40]:
print(x is y) # False because x is not the same object as y, even though they have the same content

False

In [42]:
print(x==y) # True because though not the same object they have the same content

True

In [ ]:
#"not" returns True if both variables are the same object

In [44]:
# "is" returns True if both variables are the same object
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is not z) # True because x and z is the same object x

False

In [45]:
print(x is not y) # False because x is not the same object as y, even though they have the same content

True

#### Membership operator

#### in
returns True if a sequence with the specified value is not present in the object

In [46]:
x = ["apple","banana"]
print("banana" in x)

True

#### not in

In [47]:
print("pineapple" not in x)

True

## 3.0 Magic methods/dunder methods

In [55]:
a = float(2.3)
print(dir(a))

['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__setformat__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [57]:
print(a.__abs__())

2.3

In [61]:
print(a.__floordiv__(2.3))

1.0

In [64]:
print(a.is_integer())

False

In [67]:
print(a.__neg__())

-2.3

## 4.0 Different String formatting

#### Python String.format() Method

In [75]:
print("i love","python")

i love python

In [78]:
print("i" + "love" + "python")

ilovepython

In [80]:
print("I love" + "python" + "version",3.29)

I lovepythonversion 3.29

In [82]:
print("I love" + "python" + "version %.2f"%3.29)

I lovepythonversion 3.29

In [84]:
print("I love %s version %.2f"%("python",3.29))

I love python version 3.29

#### using format positional arguement

In [85]:
print("I love {} version {}".format("python",3.10))

I love python version 3.1

In [86]:
print("I love {} version {} {}".format("python",3.10, "so much"))

I love python version 3.1 so much

In [89]:
print("I love {} version {:.2f}".format("python",3.10))

I love python version 3.10

In [92]:
print("I love {1} version of {0}".format("python","3.10"))

I love 3.10 version of python

#### using format keyword arguement

In [98]:
print("I love {pl} version {version:.2f}".format(pl= "python", version = 3.10))

I love python version 3.10

#### Using f-string literal

In [105]:
info = {"pl": "python", "version": 3.10}
print(f"I love {info.get('pl')} version {info.get('version'):.2f}")

I love python version 3.10

In [110]:
# using upper case F and single quote
print(F'I love {info["pl"]} version {info["version"]:.2f}')

I love python version 3.10

In [111]:
# f_string conditional
batch = 'ML'
print(f'I love {"javascript" if batch == "FS" else "python"}')

I love python

#### 5.0 Indexing

In [13]:
countries = ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']

In [14]:
# find the index of "Sweden"
countries.index('Sweden')

1

In [15]:
# get all the items in "countries" except the first
countries[1:]

['Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']

In [16]:
# get all the items in "countries" except the last
countries[:-1]

['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway']

In [17]:
# find the last item in "countries" using negative indexing
countries[-1]

'Iceland'

In [19]:
#find the last three items in "countries" using negative indexing
countries[-3:]

['Germany', 'Norway', 'Iceland']

In [20]:
# grab all the items with odd indices in the list "countries"
countries[1::2]

['Sweden', 'Netherlands', 'Norway']

In [31]:
# find the first and last item in the list "countries"
countries[::len(countries)-1]

['Finland', 'Iceland']

In [32]:
# find the first and last item in the list "countries" using list comprehension
[countries[i] for i in (0,-1)]

['Finland', 'Iceland']

In [36]:
# get ['Netherlands', 'Germany', 'Norway'] using negative indexing
countries[-4:-1]

['Netherlands', 'Germany', 'Norway']

In [45]:
# reverse the list countries
countries.reverse()
countries

['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']

In [49]:
countries

['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']

In [46]:
# what is the output of countries[::-2]
countries[::-2]

['Finland', 'Denmark', 'Germany', 'Iceland']

In [48]:
# what is the output of countries[1:100:2]
countries[1:100:2]

['Norway', 'Netherlands', 'Sweden']

In [50]:
# what is the output of countries[len(countries)-1:0:2]
countries[len(countries)-1:0:2]

[]

In [52]:
# get the output ['Germany', 'Netherland', 'Denmark']
countries[2:5]

['Germany', 'Netherlands', 'Denmark']

In [56]:
for index, item in enumerate(countries):
    print(index) 
    print(item)

0
Iceland
1
Norway
2
Germany
3
Netherlands
4
Denmark
5
Sweden
6
Finland

#### 6.0 Dictionaries

In [58]:
list_1 = ['a', 'b', 'c', 'd']
list_2 = [1,2,3,4]

#### 6a.

In [61]:
# merge lists of same length into one 
merge_dict = dict(zip(list_1, list_2))
merge_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [71]:
# create two dictionaries and merge them into one 
dict_1 = {'Finland': 'Helsinki', 'Sweden':'Stockholm', 'Estonia': 'Tallin'}
dict_2 = {'Chelsea fc': 'England', 'Juventus fc': 'Italy', 'Barcelona fc': 'Spain'}
print(dict_1, dict_2)

{'Finland': 'Helsinki', 'Sweden': 'Stockholm', 'Estonia': 'Tallin'} {'Chelsea fc': 'England', 'Juventus fc': 'Italy', 'Barcelona fc': 'Spain'}

#### 6b.

In [80]:
# merge two dictionaries dict_1 and dict_2 into one
merged_dict = dict_1|dict_2
merged_dict

{'Finland': 'Helsinki',
 'Sweden': 'Stockholm',
 'Estonia': 'Tallin',
 'Chelsea fc': 'England',
 'Juventus fc': 'Italy',
 'Barcelona fc': 'Spain'}

#### 6c.

In [135]:
Students = ["Duy", "Laxmi","Antonio","Maria"]
Course  = ["Python","Database","ML"]

In [136]:
students_profile = {student:Course for student in Students}
students_profile

{'Duy': ['Python', 'Database', 'ML'],
 'Laxmi': ['Python', 'Database', 'ML'],
 'Antonio': ['Python', 'Database', 'ML'],
 'Maria': ['Python', 'Database', 'ML']}

In [137]:
# modify Antonio's course to ["JavaScript", "Database", "NodeJS"]
students_profile['Antonio'] = ["JavaScript", "Database", "NodeJS"]
students_profile

{'Duy': ['Python', 'Database', 'ML'],
 'Laxmi': ['Python', 'Database', 'ML'],
 'Antonio': ['JavaScript', 'Database', 'NodeJS'],
 'Maria': ['Python', 'Database', 'ML']}

In [138]:
# add ReactJs to Antonio's course 
students_profile['Antonio'].append("ReactJs")
students_profile

{'Duy': ['Python', 'Database', 'ML'],
 'Laxmi': ['Python', 'Database', 'ML'],
 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'ReactJs'],
 'Maria': ['Python', 'Database', 'ML']}

#### Pop( ) operation on a dictionary

In [139]:
# example i will delete Antonio's profile using pop()
students_profile.pop('Maria')

['Python', 'Database', 'ML']

In [140]:
students_profile

{'Duy': ['Python', 'Database', 'ML'],
 'Laxmi': ['Python', 'Database', 'ML'],
 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'ReactJs']}

In [129]:
dict_2 = {'joy': 13, 'chris': 15, 'jane':22, 'blake':16}

In [132]:
dict_2.pop('chris')

15

In [133]:
dict_2

{'joy': 13, 'jane': 22, 'blake': 16}

**Observation**: pop removes the element of the dictionary that is selected by removing the key and displaying the value

#### "del" operation on a dictionary

In [142]:
a_dict = {"A": 1, "B": 2, "C": 3, "D": 4, "F": 5}
a_dict.pop("A")
a_dict

{'B': 2, 'C': 3, 'D': 4, 'F': 5}

In [144]:
del a_dict['D']
a_dict

{'B': 2, 'C': 3, 'F': 5}

**Observation** del delete object which is the key-value pair mentioned after the del syntax