Python Basics: Data types

1.	Use the constructor methods to create different data types in python (integer,float,string,list,tuple,dictionary,set etc.). Also use object literals to create those data types.

In [41]:
#1.Use the constructor methods to create different data types in python 
num1=int(10)
print('An integer example')
print(num1)

#float
print('A float example')
num2=float(20.56)
print(num2)

#string
print('A string example')
name=str("Integrify")
print(name)

#bool

result=bool(40)
print('A bool example')
print(result)

#range

r=range(10)
print('A range example')
print(r)

#list
print('A list example')
citylist=list(['Stockholm','Gothenburg','Skovde','Helsinki',1,2,3])
print(citylist)

#dictionary
print('A dictionary example')
capitals=dict({"India":"Delhi","Sweden":"Stockholm","Germany":"Berlin","Finland":"Helsinki"})
print(capitals)

#set
print('A set example')
team=set(('George','Mathews','Christina'))
print(team)

#frozenset
print('A frozenset example')
team1=frozenset(('Geeja','Manjusha','Divya'))
print(team1)

#tuple
print('A tuple example')
programminglang=tuple(('C++','Java','C#'))
print(programminglang)

#object literals

x = 1
y = 100000000
z = -6
print(x,',',y,',',z)  
str1="Data Scientist"
print(str1)

print(type(x))
print(type(y))
print(type(str1))

An integer example
10
A float example
20.56
A string example
Integrify
A bool example
True
A range example
range(0, 10)
A list example
['Stockholm', 'Gothenburg', 'Skovde', 'Helsinki', 1, 2, 3]
A dictionary example
{'India': 'Delhi', 'Sweden': 'Stockholm', 'Germany': 'Berlin', 'Finland': 'Helsinki'}
A set example
{'Mathews', 'Christina', 'George'}
A frozenset example
frozenset({'Geeja', 'Manjusha', 'Divya'})
A tuple example
('C++', 'Java', 'C#')
1 , 100000000 , -6
Data Scientist
<class 'int'>
<class 'int'>
<class 'str'>

2.	Operators in python https://www.w3schools.com/python/python_operators.asp
a.	Create two operands and play around using different operators

In [38]:
#2. Operators in python 
#Arithmetic operators
print('Arithmetic operators')
var1 = 10
var2 = 5
print('+ ',var1 + var2)
print('+ ',var1 - var2)
print('* ',var1 * var2)
print('/ ',var1 / var2)
print('% ',var1 % var2)
print('// ',var1 // var2)
print('** ',var1 ** var2)

#Comparison operators
print('Comparison operators')
print('== ',var1==var2)
print('!= ',var1!=var2)
print('> ',var1>var2)
print('< ',var1<var2)
print('<= ',var1<=var2)
print('>= ',var1>=var2)

#Assignment operators
x=10
print('= ',x )
x += 5
print('+= ',x)
x -= 3
print('-= ',x)
x *= 3
print('*= ',x)
x /= 3
print('/= ',x)
x %= 3
print('%= ',x)
x //= 3
print('// ',x)
x **= 3
print('** ',x)
x=12
x &= 3
print('&= ',x)
x |= 3
print('|= ',x)
x ^= 3
print('= ',x)
x >>= 3
x=4
print('^= ',x)
x <<= 3
print('<<= ',x)

Arithmetic operators
+  15
+  5
*  50
/  2.0
%  0
//  2
**  100000
Comparison operators
==  False
!=  True
>  True
<  False
<=  False
>=  True
=  10
+=  15
-=  12
*=  36
/=  12.0
%=  0.0
//  0.0
**  0.0
&=  0
|=  3
=  0
^=  4
<<=  32

In [43]:
#Logical operators
x=15
y=10
print(x < 5 and  y < 10)
print(x < 15 or y < 4)
print(not(x < 15 and y < 10))

False
False
True

In [44]:
#Identity operators
print(x is y)

False

In [45]:
print(x is not y)

True

In [46]:
#Membership operators
x='Manjusha'
y=['Mary','Mariya','Manjusha','Mathew']
print(x in y)
print(x not in y)

True
False

In [3]:
#Bitwise operators
x=20
y=10

print('&',x & y)
print('|',x | y)
print('^',x ^ y)
print('~',~x)
print('<<',x << 2)
print('>>',x >> 2)

& 0
| 30
^ 30
~ -21
<< 80
>> 5

3.	Once you create an object of each data type, run dir(object). Navigate the magic methods/dunder methods and other methods and attributes of each object. Try to implement those methods and attributes as many as possible.
Eg:  a=int(5)
       dir(a)
       print(a.__add__(5))
Implementing above dunder method is same as print(a+5)
Verify the data types using methods type and isinstance.

In [4]:
#3.Once you create an object of each data type, run dir(object). 
dir(x)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [24]:
#absolute
print(x.__abs__())

x=-9

print(x.__abs__())

#add
print(x.__add__(5))

print(x.__pow__(2)) #power

y=7.89328
print(y.__floor__()) #floor
print(y.__ceil__()) #ceil
print(y.__round__(2)) #round

mystring="integrify    "
print(mystring.__sizeof__())

9
9
-4
81
7
8
7.89
62

In [186]:
type(x)

int

In [188]:
x = isinstance(5, int)
x

True

4.	Learn different ways to format the string. 
Tutorials on https://realpython.com/python-formatted-output/

In [57]:
#4. Learn differnt ways to format the string.
print("I love","Python")
print("I Love" + " Python")
print("I Love" + " Python" + "version", 3.30)
print("I Love" + " Python" "version %2f"%3.30)
print("I Love %s version %.2f"%(" Python",3.30))

#format positional arguments
print("I love {} version {}".format("python",3.10))
print("I love {} version {}".format("python","3.10"))
print("I love {} version {:.2f}".format("python",3.10))
print("I love {1} version of {0}".format("python",3.10))

#format keyword
print("I love {pl} version {version:.2f}".format(pl="python",version=3.10))

info={"pl":"python","version":3.10}
print(f"I love {info.get('pl')} version {info.get('version'):.2f}")

print(F'I love {info["pl"]} version {info["version"]:.2f}')

batch='ML'
print(f'I love {"javascript" if batch=="FS" else "python"}')

batch='FS'
print(f'I love {"javascript" if batch=="FS" else "python"}')

I love Python
I Love Python
I Love Pythonversion 3.3
I Love Pythonversion 3.300000
I Love  Python version 3.30
I love python version 3.1
I love python version 3.10
I love python version 3.10
I love 3.1 version of python
I love python version 3.10
I love python version 3.10
I love python version 3.10
I love python
I love javascript

In [67]:
print('%d %s cost $%.2f' % (6, 'bananas', 1.74))

print('{0} {1} cost ${2}'.format(6, 'bananas', 1.74))

print('{quantity} {item} cost ${price}'.format(quantity=6,item='bananas', price=1.74))

#positional argument
'{0}/{1}/{2}'.format('apple', 'banana', 'orange')

6 bananas cost $1.74
6 bananas cost $1.74
6 bananas cost $1.74

'apple/banana/orange'

In [65]:
#automatic field numbering
'{}/{}/{}'.format('apple', 'banana', 'orange')

'apple/banana/orange'

In [66]:
'{2}.{1}.{0}/{0}{0}.{1}{1}.{2}{2}'.format('apple', 'banana', 'orange')

'orange.banana.apple/appleapple.bananabanana.orangeorange'

In [68]:
#keyword argument
'{x}/{y}/{z}'.format(x='apple', y='banana', z='orange')

'apple/banana/orange'

In [69]:
x, y, z = 1, 2, 3
'{0}, {1}, {baz}'.format(x, y, baz=z)

'1, 2, 3'

In [91]:
print('%d' % 42)
print('%f' % 2.1)
print('%s' % 'integrify')
print('%x' % 31)
print('%c' % 35)
print('{:G}'.format(-123456789.8765))
print('%f%%' % 65.0)
#right justified
print('{0:>8d}'.format(123))
#centered
'{0:^8d}'.format(123)
#filling
print('{0:#<8d}'.format(123))
#leading sign
print('{0:+6d}'.format(123))
print('{0:+6d}'.format(-123))

#0 component
'{0:05d}'.format(123)

#width component
print('{0:8d}'.format(123))

#grouping seperator
print('{0:,d}'.format(1234567))

#binary ,octal, hexadecimal grouping
print('{0:_b}'.format(0b111010100001))

print('{0:_x}'.format(0xae123fcc8ab2))

#prec (precision)
print('{0:8.4f}'.format(1.23))

w=10
p=2
print('%*.*f' % (w, p, 123.456))  # Width is 10, precision is 2

#grouping
print('{0:{grp}d}'.format(123456789, grp='_'))

#fstrings
quantity, item, price = 6, 'bananas', 1.74
f'{quantity} {item} cost ${price}'

42
2.100000
integrify
1f
#
-1.23457E+08
65.000000%
     123
123#####
  +123
  -123
     123
1,234,567
1110_1010_0001
ae12_3fcc_8ab2
  1.2300
    123.46
123_456_789

'6 bananas cost $1.74'

In [92]:
#conditional expression
x = 3
y = 7
print(f'The larger of {x} and {y} is {x if x > y else y}')

The larger of 3 and 7 is 7

In [93]:
age = 13
print(f'I am {"a minor" if age < 18 else "an adult"}.')

I am a minor.

5.	Familiarize yourself with indexing in python. Iterables can be accessed using index values in python. Eg: list, tuple,dict, set

In [95]:
#5. Familiarize yourself with indexing in python. Iterables can be accessed using index values in python.
#Eg: list, tuple,dict, set 

countries=['Finland','Sweden','Denmark','Netherlands','Germany','Norway','Iceland']
countries

['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']

In [97]:
#b.	Find the index of “Sweden”. 
print(countries.index('Sweden'))

1

In [99]:
#c.	Get all the items except the first
print(countries[1:])

['Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']

In [100]:
#d.	Get all the items except the last
print(countries[:-1])

['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway']

In [101]:
#e.	Find the last item using negative indexing
print(countries[-1])

Iceland

In [198]:
#f.	Find the last three item using negative indexing
print(countries[-3:])

['Germany', 'Norway', 'Iceland']

In [200]:
#g.	Grab all the items with odd indices
print(countries[1::2])

['Sweden', 'Netherlands', 'Norway']

In [104]:
#h.	Find the first and last item for the list
print(countries[0], countries[-1])

Finland Iceland

In [110]:
#i.	Get [”Netherlands”,”Germany”,”Norway”] using negative indexing

print(countries[-4:-1])

['Netherlands', 'Germany', 'Norway']

In [116]:
#j.	Reverse the list
countries.reverse()
print(countries)

['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']

In [118]:
#k.	What is the output of countries[::-2]
print(countries[::-2])

['Finland', 'Denmark', 'Germany', 'Iceland']

In [119]:
#l.	What is the output of countries[1:100:2]?
print(countries[1:100:2])

['Norway', 'Netherlands', 'Sweden']

In [120]:
#m.	What is the output of countries[len(countries)-1:0:2]?
print(countries[len(countries)-1:0:2])

[]

In [121]:
print(countries)

['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']

In [123]:
#n.	Get the output ['Germany', 'Netherlands', 'Denmark']
print(countries[2:5])

['Germany', 'Netherlands', 'Denmark']

In [127]:
countries.reverse()
print(countries)

#o.	Use enumerate method to get index and values in the list
print (list(enumerate(countries)))

['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
[(0, 'Finland'), (1, 'Sweden'), (2, 'Denmark'), (3, 'Netherlands'), (4, 'Germany'), (5, 'Norway'), (6, 'Iceland')]

6.	 Exercise on dictionaries

In [132]:
#6. Exercise on dictionaries
keys=["a","b","c","d"]
listval=[1,2,3,4]
print(keys)
print(listval)
mydic=zip(keys,listval)
print('The dictonary is')
print(mydic)
type(mydic)
list(mydic)

['a', 'b', 'c', 'd']
[1, 2, 3, 4]
The dictonary is
<zip object at 0x000001F6F772BA40>

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [158]:
course1={1:'DataScience',
         2:'ML',
         3:'Dot Net',
         4:'Typescript'}

course2={5:'Java',
         6:'React'}

print(course1, course2)

{1: 'DataScience', 2: 'ML', 3: 'Dot Net', 4: 'Typescript'} {5: 'Java', 6: 'React'}

In [159]:
course1.update(course2)

In [160]:
print(course1)

{1: 'DataScience', 2: 'ML', 3: 'Dot Net', 4: 'Typescript', 5: 'Java', 6: 'React'}

In [148]:
marks = {'Physics':67, 
         'Maths':87}
internal_marks = {'Practical':48}

marks.update(internal_marks)

print(marks)

{'Physics': 67, 'Maths': 87, 'Practical': 48}

In [154]:
d = {1: "one", 2: "three"}
d1 = {2: "two"}

# updates the value of key 2
d.update(d1)

print(d)

d1 = {3: "three"}

# adds element with key 3
d.update(d1)

print(d)

{1: 'one', 2: 'two'}
{1: 'one', 2: 'two', 3: 'three'}

In [164]:
Students=['Duy', 'Laxmi','Antonio','Maria']
Course=["Python","Database","ML"] 

print(Students)
print(Course)

['Duy', 'Laxmi', 'Antonio', 'Maria']
['Python', 'Database', 'ML']

In [166]:
student_profile=dict.fromkeys(Students,Course)

In [167]:
print(student_profile)

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['Python', 'Database', 'ML'], 'Maria': ['Python', 'Database', 'ML']}

In [168]:
print(student_profile['Antonio'])

['Python', 'Database', 'ML']

In [170]:
student_profile['Antonio']=["JavaScript","Database","NodeJS"]

In [171]:
print(student_profile['Antonio'])

['JavaScript', 'Database', 'NodeJS']

In [172]:
print(student_profile)

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS'], 'Maria': ['Python', 'Database', 'ML']}

In [179]:
(student_profile['Antonio']).append('ReactJs')

In [180]:
print(student_profile)

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'ReactJs', 'ReactJs'], 'Maria': ['Python', 'Database', 'ML']}

In [182]:
(student_profile['Antonio'])

['JavaScript', 'Database', 'NodeJS', 'ReactJs', 'ReactJs']

In [183]:
['VueJs' if item == 'ReactJs' else item for item in (student_profile['Antonio'])]

['JavaScript', 'Database', 'NodeJS', 'VueJs', 'VueJs']

In [184]:
student_profile.popitem()

('Maria', ['Python', 'Database', 'ML'])

In [185]:
print(student_profile)

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'ReactJs', 'ReactJs']}

In [202]:
student_profile.pop('Laxmi')

['Python', 'Database', 'ML']

In [205]:
del student_profile

NameError: name 'student_profile' is not defined

In [206]:
print(student_profile)

NameError: name 'student_profile' is not defined

In [207]:
student_profile=dict.fromkeys(Students,Course)

In [208]:
print(student_profile)

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['Python', 'Database', 'ML'], 'Maria': ['Python', 'Database', 'ML']}

#end of assignment1