# Python Basics: Flow Control, Loops, Functions

In [ ]:
#1.Conditiinals

#Phython if Statement

In [ ]:
val1 = 100
#val2 = -1 # its a negative number so will be skipping the if statement
#if the given number is positive or negative
if val1 > 0:
    print("Its a positive number")
print("Try again")

Its a positive number
Try again

#Python if...else Statement

In [ ]:
#val1 = 100
val2 = -1 # its a negative number it will jump to else statement
if val2 > 0:
    print("It is a positive number")
else:
    print("It is a negative number")
print("Try again")

It is a negative number
Try again

#Python if...elif...else Statement

In [ ]:
#val1 = 100
val2 = 0
if val2 > 0:
    print("It is a positive number")
elif val2 == 0:
    print("Entered number is equal to 0")
else:
    print("It is a negative number")
print("Try again")

Entered number is equal to 0
Try again

#Python Nested if statements

In [ ]:
val1 = 15
if (val1 >= 0): # -------Outer if statement
    if val1==0:
        print("The number entered is 0")# -----inner if statement
    else:
        print("Its a positive number")
else:
    print("The number is negative")

The number is negative

In [ ]:
# 2. Calculate the area of the circle
pi =3.14
r =input("Enter the radius of the circle")
if r.isnumeric():
    r = float(r)   
    area = pi *r**2
    print("Area of the circle is ",area)
else:
    print("Try Again,enter a numeric value")

Enter the radius of the circle2.5
Try Again,enter a numeric value

In [ ]:
# Question 4
students_profile={'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'],
'Antonio': ['Python', 'Database', 'ML'],'Maria': ['Python', 'Database', 'ML']}
students_profile
# check if Maria is found in the student_profile
if 'Maria' in students_profile:
    print("Maria found in the student_profile")
    students_profile['Maria'].remove('ML')# remove ML 
    print("Successfully removed ML from Maria's course")
else:
    print("Maria not found in the student_profile dictionary")

Maria found in the student_profile
Successfully removed ML from Maria's course

In [ ]:
# Taking input from the user as substring

user1 = input("Enter a string")# inputting a string from the user
user_sub = input("Enter a substring") # inputing a substring from the user
# checking if the substring is present in the string
if user_sub  in user1:
    print("The substring is found in string")
else:
    print("The substring is not found in string")

Enter a stringHello World!
Enter a substringWorld
The substring is found in string

In [ ]:
# Distance Metrics are important to calculate the similarity between the vectors. 
#defining the points

point1 = (1,2,3)
point2 = (4,5,6)

# Now we calculate the distance based on the order
order =int(input("Please enter the order (1,2,3):"))
if order == 1:
    dist = abs(point1[0]-point2[0]) + abs(point1[1]-point2[1]) + abs(point1[2]-point2[2])
elif order == 2:
    dist = ((point1[0]-point2[0])**2 + (point1[1]-point2[1])**2 + (point1[2]-point2[2])**2)**(1/2)
else:
    dist = (abs(point1[0]-point2[0])**order + abs(point1[1]-point2[1])**order + abs(point1[2]-point2[2])**order)**(1/order)

#Print
print(dist)

Please enter the order (1,2,3):1
9

In [ ]:
# 3. Loop:

#Python For Loops

In [ ]:
#creating a list of items
country = ['UK','USA','UAE','SE','ZW','KW']
for i in country:
    print(i)

UK
USA
UAE
SE
ZW
KW

In [ ]:
#Looping through a string
for i in "Primi":
    print(i)

P
r
i
m
i

In [ ]:
#break
fruits = ["apple","Mango","Orange","Fig"]
for i in fruits:
    if i == "Orange":
        break
    print(i)

apple
Mango

In [ ]:
#continue
fruits = ["apple","Mango","Orange","Fig"]
for i in fruits:
    if i == "Fig":
        continue
    print(i)

apple
Mango
Orange

In [ ]:
#range()
num_val = range(6)
# iterate through values range from 0 to 5
for i in num_val:
    print(i)

0
1
2
3
4
5

In [ ]:
# range() use of else in for loop
for i in range(10):
    print(i)
else:
    print("Done!!")

0
1
2
3
4
5
6
7
8
9
Done!!

In [ ]:
#Using break statement

for i in range(10):
    if i == 5: break # loop breaks when it reachs this condition,and executes the else condition
    print(i)
else:
    print("Done!!")

0
1
2
3
4

In [ ]:
#Nested Loop
cars = ["ford","BMW","Benz","Volvo","Audi","Kia"]
colors =["Red","white","black"]
for x in cars:
    for y in colors:
        print(x,y)

ford Red
ford white
ford black
BMW Red
BMW white
BMW black
Benz Red
Benz white
Benz black
Volvo Red
Volvo white
Volvo black
Audi Red
Audi white
Audi black
Kia Red
Kia white
Kia black

#Python While Loop

In [ ]:
# Displaying numbers from 1 to 10
i = 1 # intialize i to 1
while i< 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [ ]:
# continue statement
i = 1
while i < 10:
    i += 1
    if i == 3:
        continue
    print(i)

2
4
5
6
7
8
9
10

In [ ]:
#else Statement
i = 1
while i < 10:
      print(i)
      i += 1
else:
       print("i is no longer less than 10")

1
2
3
4
5
6
7
8
9
I is no longer less than 10

In [ ]:
# multiplication table for any given number
# for loop
num = int(input("Enter a number"))
print("Multiplication Table of :",num)
for i in range (1,11):
    print(num,'*',i,'=',num*i)

Enter a number2
Table of : 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
# multiplication table for any given number
# while loop
num = int(input("Enter a number: "))
print("Multiplication Table",num)
# intialize i to 1 and iterating from 1 to 10
i = 1
# Using While loop
while i <= 10:
   print(num, 'x', i, '=', num*i)
   i += 1

Enter a number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
#generate the complementary dna template with the mapping
# define the template and the mapping
dna_template='AATCCGAAAATTCGGGAATTTTCGCGT'
#dna_template
mapper={"T":"A","A":"T","G":"C","C":"G"}
# initalize an empty string  to store  complementary dna
comp_dna = ""
# now generate the complementary dna template
# iterate using loop over each nitrogenous base in the dna_template 
for i in dna_template:
  comp_dna = comp_dna+mapper[i] # Generating the comp_dna,with the corresponding nitogeous base in the mapping
  #Print 
  print(comp_dna)

T
TT
TTA
TTAG
TTAGG
TTAGGC
TTAGGCT
TTAGGCTT
TTAGGCTTT
TTAGGCTTTT
TTAGGCTTTTA
TTAGGCTTTTAA
TTAGGCTTTTAAG
TTAGGCTTTTAAGC
TTAGGCTTTTAAGCC
TTAGGCTTTTAAGCCC
TTAGGCTTTTAAGCCCT
TTAGGCTTTTAAGCCCTT
TTAGGCTTTTAAGCCCTTA
TTAGGCTTTTAAGCCCTTAA
TTAGGCTTTTAAGCCCTTAAA
TTAGGCTTTTAAGCCCTTAAAA
TTAGGCTTTTAAGCCCTTAAAAG
TTAGGCTTTTAAGCCCTTAAAAGC
TTAGGCTTTTAAGCCCTTAAAAGCG
TTAGGCTTTTAAGCCCTTAAAAGCGC
TTAGGCTTTTAAGCCCTTAAAAGCGCA

In [ ]:
#Fibanocci Series
# Initialize the first two numbers in the list
x = [0,1]
for i in range(2,13): #we start the loop from 2 and it goes up to till 13
# so in each iteration we will append the sum of the previous two numbers in the list'x'
  x.append(x[i-1]+x[i-2]) 
  print("Fibanocci series is:",x)

Fibanocci series is: [0, 1, 1]
Fibanocci series is: [0, 1, 1, 2]
Fibanocci series is: [0, 1, 1, 2, 3]
Fibanocci series is: [0, 1, 1, 2, 3, 5]
Fibanocci series is: [0, 1, 1, 2, 3, 5, 8]
Fibanocci series is: [0, 1, 1, 2, 3, 5, 8, 13]
Fibanocci series is: [0, 1, 1, 2, 3, 5, 8, 13, 21]
Fibanocci series is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
Fibanocci series is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
Fibanocci series is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
Fibanocci series is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [ ]:
def prime_or_not(n): # define a fucntion to check prime or not
# intialize the first number as 2
    k = [2]
    num = 3
    #generate the set of prime numbers
    while len(k) < n:
        for i in range(2, num): # now check whether it is prime or not
            if num % i == 0: # if divisible it is not prime
                break
        else:
            k.append(num) # if prime no: then append it to the list of prime no:
        num += 1
    return k

# enter the input from the user
n = int(input("Enter the number"))
k = prime_or_not(n) # call the function prime_or_not()
print(f"The first {n} prime numbers are:", k) #printing the list of prime numbers

Enter the number5
The first 5 prime numbers are: [2, 3, 5, 7, 11]

In [ ]:
#Min-max Normalization
#define a function for minmax
def min_max_norm(data,min=0,max =1):
  val_min = data[0]
  val_max = data[0]
  # Iterating to find the min and max values
  for i in data:
    if i< val_min:
      val_min = i
    if i >val_max:
      val_max = i
      return [(i-val_min)/(val_max-val_min)*(max-min)+min for i in data] 
# given sample example to test
data1=[1,17,12,15,30,60,48,51,89,92,54,8]
data2=[-13,2,-1,7,22,-32,5,15,-9,13,3,-2]
data1_norm = min_max_norm(data1) # range will be [0,1]
data2_norm = min_max_norm(data2,-1,1) # range [-1,1]
print("Before Normalized",data1)
print("Normalized data",data1_norm)
print("Before Normalized",data2)
print("Normalized data ",data2_norm)

Before Normalized [1, 17, 12, 15, 30, 60, 48, 51, 89, 92, 54, 8]
Normalized data [0.0, 1.0, 0.6875, 0.875, 1.8125, 3.6875, 2.9375, 3.125, 5.5, 5.6875, 3.3125, 0.4375]
Before Normalized [-13, 2, -1, 7, 22, -32, 5, 15, -9, 13, 3, -2]
Normalized data  [-1.0, 1.0, 0.6000000000000001, 1.6666666666666665, 3.666666666666667, -3.533333333333333, 1.4, 2.7333333333333334, -0.4666666666666667, 2.466666666666667, 1.1333333333333333, 0.46666666666666656]

In [3]:
import time
# Bubble sort
def bubble_sort(arr):
    n = len(arr)
    for i in range(n): # Traverse through all the elements
        for j in range(0, n-i-1): # Traverse the array from 0 to n-i-1
        # swap if the element found is greater than the next element
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]
#selection sort
def selection_sort(arr):
    n = len(arr)
    for i in range(n):
        min_idx = i
        for j in range(i+1, n):
          # select the minimum element in every iteration
            if arr[min_idx] > arr[j]:
                min_idx = j
                #swapping the elements to sort the array
        arr[i], arr[min_idx] = arr[min_idx], arr[i]
#insertion sort
def insertion_sort(arr):
    n = len(arr)
    for i in range(1, n):
        key = arr[i]
        j = i - 1
        # Compare key with each element on the left of it until an element smaller than it is found
        # For descending order, change key<array[j] to key>array[j].
        while j >= 0 and key < arr[j]:
            arr[j+1] = arr[j]
            j -= 1
        arr[j+1] = key

#array of numbers
arr = [2, 11, 15, 4, 19, 16, 1,9]
print("Numbers to be sorted:", arr)

arr = [2, 11, 15, 4, 19, 16, 1,9]
start_time = time.time()
bubble_sort(arr)
print("Bubble sorted array:", arr)
print("Bubble sort time:", time.time() - start_time)

arr = [2, 11, 15, 4, 19, 16, 1,9]
start_time = time.time()
selection_sort(arr)
print("Selection sorted array:", arr)
print("Selection sort time:", time.time() - start_time)

arr = [2, 11, 15, 4, 19, 16, 1,9]
start_time = time.time()
insertion_sort(arr)
print("Insertion sorted array:", arr)
print("Insertion sort time:", time.time() - start_time)

Numbers to be sorted: [2, 11, 15, 4, 19, 16, 1, 9]
Bubble sorted array: [1, 2, 4, 9, 11, 15, 16, 19]
Bubble sort time: 0.0002002716064453125
Selection sorted array: [1, 2, 4, 9, 11, 15, 16, 19]
Selection sort time: 0.00015974044799804688
Insertion sorted array: [1, 2, 4, 9, 11, 15, 16, 19]
Insertion sort time: 0.00016760826110839844

In [ ]:
#python -- doc -- attribute
#printing docstring
def square(n):
  ''' Takes in a number n,returns the square of n'''
print(square.__doc__)

 Takes in a number n,returns the square of n

In [ ]:
# Docstring for the built-in-print()
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
# Docstrings for python functions
def add_binary(a,b):
  ''' Returns the sum of two decimal numbers in binary didgits.
     Parameters :
     a(int): A decimal integer
     b(int):Another decimal integer
     Returns:
        binary_sum(str : Binary string of the sum of a and b)
        '''
  binary_sum = bin(a+b)[2:]
  return binary_sum
print(add_binary.__doc__)

 Returns the sum of two decimal numbers in binary didgits.
     Parameters :
     a(int): A decimal integer
     b(int):Another decimal integer
     Returns:
        binary_sum(str : Binary string of the sum of a and b)

In [ ]:
#Find factorial of the number
def factorial(n):
  if n==0: 
    return 1
  else:
    return n*factorial(n-1)
num = int(input("Enter the number"))
print("Factorial of",num,"is",factorial(num))

Enter the number5
Factorial of 5 is 120

In [ ]:
import math
def activation_fun(activ_name,value):
  if activ_name == 'sigmoid':
    return 1/(1+math.exp(-value))
  elif activ_name == 'binary step function':
    if value <0:
      return 0
    else:
      return 1
  elif activ_name =='relu':
    if value <0:
      return 0
    else:
      return value
  elif activ_name == 'leaky relu':
    if value < 0 :
      return 0.01 * value
    else:
      return value
  elif activ_name == 'tanh':
    return math.tanh(value)
  else:
    print("Nothing!!")
n = input("Enter activation function")
value = float(input("enter the value:"))
print(activation_fun(n,value))

Enter activation functionleaky relu
enter the value:1.0
1.0

In [ ]:
#function that returns permutation
def factorial(n):
    if n == 0:
      return 1
    else:
     return n* factorial(n-1)
def permutation (n,r):
     return factorial(n)/factorial(n-r)
n = int(input("Value of n--->"))
r = int(input("Value of r--->"))
print ("P(%d,%d) = %d" %(n,r,permutation(n,r)))

Value of n--->5
Value of r--->3
P(5,3) = 60

In [ ]:
import itertools

In [ ]:
def fun_both (per_comb ="both", n=10,r=5):
  if per_comb =="both":
    return
    list(itertools.permutations(range(1,n+1),r))+list(itertools.combinations(range(1,n+1),r))
  elif per_comb =="permutation":
    return list(itertools.permutations(range(1,n+1),r))
  elif per_comb =="combinations":
    return list(itertools.combinations(range(1,n+1),r))
  else:
    return "Invalid Argument"
print(fun_both())

None

In [ ]:
# Implement a function that takes any number of positional and keyword arguments.
#*args pass no: of ositional arguments
#**kwargs pass no:of keyword arguments
def fun_1(*args,**kwargs):
  print(f"positional arguments are:{args}")# acess using args variable
  print(f"keyword arguments are:{kwargs}")# acess using the kwargs variable
fun_1(1,2,3 ,name ="Kiara", age= 25)# function call

positional arguments are:(1, 2, 3)
keyword arguments are:{'name': 'Kiara', 'age': 25}

In [ ]:
#LEGB Rule
#1. Local Scope
def square(base):
  result = base**2
  print(f"The square of{base} is:",result)
square(10)
#result # Isnt accessible from outside square()
#base # Isnt accessible outside square()

The square of10 is: 100

In [ ]:
# 2.Enclosing or nonlocal scope
def outer_func():
  #local scope of outer_func()
  var = 100 #a nonlocal var
  #enclosing scope of inner_func()
  def inner_func():
     #local scope of inner_func()
     print(f"printing var from inner_func():{var}")
  inner_func()
  print(f"printing var from outer_func():{var}")
outer_func()

printing var from inner_func():100
printing var from outer_func():100

In [ ]:
#3. The global scope
var =100
def fun():
  return var # Accesible from inside func()
fun()
var # remains unchanged

100

In [ ]:
# This area is the global or module scope
number = 100
def outer_func():
       # This block is the local scope of outer_func()
       # It's also the enclosing scope of inner_func()
        def inner_func():
            # This block is the local scope of inner_func()
            print(number)

        inner_func()
outer_func()

100