#Python Basics: Iters and generators,regex, comprehension

#Iterators

In [ ]:
#define a list
my_list = [5,6,4,10]
#create an iterator from the list 
iterator = iter(my_list)
#First element of the iterator
print(next(iterator))
# second element
print(next(iterator))
# Third element
print(next(iterator))
#Fourth element
print(next(iterator))
print(next(iterator)) # since no data it will raise a StopIteration

5
6
4
10

StopIteration: ignored

In [ ]:
import itertools
from itertools import count
#infinite Iterators
# 1. Count
#creating an infinite iterator
infinite_iterator = count(1)
#print 5 elements of the infinite iterator
for i in range(5):
  print((next)(infinite_iterator))

1
2
3
4
5

In [ ]:
#cycle
count =0
for i in itertools.cycle('AB'):
  if count >7:
    break
  else:
    print(i,end =" ")
    count =count+1

A B A B A B A B

In [ ]:
# repeat
#repeatdly prinitng the number
print("printing the number repeatdly")
print(list(itertools.repeat(100,10)))

printing the number repeatdly
[100, 100, 100, 100, 100, 100, 100, 100, 100, 100]

Terminating iterators

In [ ]:
#accumulate(iter,func)
import operator
#intialize
my_list1 = [1,10,15,2]
#using accumlate(), we print the successive summation of elements
print("The sum  after each iteration is:",end ="")
print(list(itertools.accumulate(my_list1))) # if no function is passed addition takepalce as default
#using accumlate(),we print the successive multiplication of elements
print("The product after each iteration is:",end ="")
print(list(itertools.accumulate(my_list1,operator.mul)))

The sum  after each iteration is:[1, 11, 26, 28]
The product after each iteration is:[1, 10, 150, 300]

In [ ]:
#chain(iter1,iter2..)
#intializing lists
list2 = [1,10,15,2]
list3 = [20,2,10,5]
list4 = [11,3,4,5]
#use of chain() we are prinitng all elements in the lists
print("All the values in chain are:",end ="")
print(list(itertools.chain(list2,list3,list4)))

All the values in chain are:[1, 10, 15, 2, 20, 2, 10, 5, 11, 3, 4, 5]

In [ ]:
# chain.from_iterable()
#intializing lists
list2 = [1,10,15,2]
list3 = [20,2,10,5]
list4 = [11,3,4,5]
list5 = [list2,list3,list4]
#use chain.from_iterable() to print all elements of lists
print("All the values in mentioned chain are:",end ="")
print (list(itertools.chain.from_iterable(list5)))

All the values in mentioned chain are:[1, 10, 15, 2, 20, 2, 10, 5, 11, 3, 4, 5]

In [ ]:
#compress(iter,selector)
#using compress () selectively print data values
print ("The compressed values in string are :",end ="")
print (list(itertools.compress('BLUELIGHTREDLIGHT',[1,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0])))

The compressed values in string are :['B', 'E', 'H', 'D', 'G']

In [ ]:
#dropwhile(func,seq)
list3 = [10,2,7,80]
#using dropwhile() to start displaying after condition is false
print("The values after condition return false :",end ="")
print(list(itertools.dropwhile(lambda x: x % 2 == 0,list3)))

The values after condition return false :[7, 80]

In [ ]:
#filterfalse(func,seq)
list3 = [10,2,7,80]
#using filterfalse() to print  false values
print("The values that return false to function are:",end ="")
print (list(itertools.filterfalse(lambda x : x %2 == 0, list3)))

The values that return false to function are:[7]

In [ ]:
#islice(iterable,start,stop,step)
my_l = [2, 4, 5, 7, 8, 10, 20]
# starts printing from 2nd index till 6th skiping 2
print("The sliced value are:",end ="")
print (list(itertools.islice(my_l,1,6,2)))

The sliced value are:[4, 7, 10]

In [ ]:
#starmap(func.,tuple list)
#intialize the tuple list
my_l1 = [ (1, 10, 5), (8, 4, 1), (5, 4, 9), (11, 10, 1) ]
#using starmap() for selection value acc, to fucntion
print("Values according to the given function are",end="")
print(list(itertools.starmap(min,my_l1)))

Values according to the given function are[1, 1, 4, 1]

In [ ]:
#takewhile(func,iterable)
my_l = [2, 4, 5, 7, 8, 10, 20]
#using takewhile() to print values till the condition is false
print("The list of values till 1st false value are:",end="")
print(list(itertools.takewhile(lambda x:x%2 ==0,my_l)))

The list of values till 1st false value are:[2, 4]

In [ ]:
#tee(iterator,count)
my_l = [2, 4, 5, 7, 8, 10, 20]
#storing list in iterator
iti = iter(my_l)
#using tee() to make a list of iterators
#making a list of 3 iterators having same values
it = itertools.tee(iti,4)
#printing the values of iterators
print("The iterators are:")
for i in range (0,4):
  print(list(it[i]))

The iterators are:
[2, 4, 5, 7, 8, 10, 20]
[2, 4, 5, 7, 8, 10, 20]
[2, 4, 5, 7, 8, 10, 20]
[2, 4, 5, 7, 8, 10, 20]

In [ ]:
#zip_longest(iterable1,iterable2,fillval)
#using zip_longest to combine two iterables
print("The combined values of iterable is:")
print(*(itertools.zip_longest("Sun shines","Moon smiles",fillvalue='_')))

The combined values of iterable is:
('S', 'M') ('u', 'o') ('n', 'o') (' ', 'n') ('s', ' ') ('h', 's') ('i', 'm') ('n', 'i') ('e', 'l') ('s', 'e') ('_', 's')

combinatoric iterators.

In [ ]:
#product
#product(iterables*, repeat=1)
from itertools import product
print("The cartesian product using repeat:")
print(list(product([1,2],repeat=2)))
print()
print("The cartesian product using repeat:")
print(list(product('AB',[1,2])))
print()

The cartesian product using repeat:
[(1, 1), (1, 2), (2, 1), (2, 2)]

The cartesian product using repeat:
[('A', 1), ('A', 2), ('B', 1), ('B', 2)]

In [ ]:
#permutations
#permutations(iterables*, group_size=None)
from itertools import permutations
print("All the permutations of the given list is:")
print(list(permutations([1,"primi"],2)))
print()
print("All the permutations of the given container is:")
print(list(permutations(range(3),2)))
print()

All the permutations of the given list is:
[(1, 'primi'), ('primi', 1)]

All the permutations of the given container is:
[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

In [ ]:
#Combinations():
#combinations(iterables*, group_size)
from itertools import combinations
print("all the combination of list in sorted order without replacement:")
print(list(combinations(['A',2],2)))
print()
print("all the combination of list in sorted order without replacement:")
print(list(combinations(range(2),1)))

all the combination of list in sorted order without replacement:
[('A', 2)]

all the combination of list in sorted order without replacement:
[(0,), (1,)]

In [ ]:
#combinations_with_replacement
#combinations_with_replacement(iterables*, n=None)
from itertools import combinations_with_replacement
print("all the combination of list in sorted order with replacement:")
print(list(combinations_with_replacement(['A',2],2)))
print()
print("all the combination of list in sorted order with replacement:")
print(list(combinations_with_replacement(range(2),1)))
print()

all the combination of list in sorted order with replacement:
[('A', 'A'), ('A', 2), (2, 2)]

all the combination of list in sorted order with replacement:
[(0,), (1,)]

In [ ]:

# Create an infinite generator that generates the fibonacci series
#define a function 
def fib_series():
  n1,n2 = 0,1 # current and the nesxt numbers in series
  # generate series
  while True:
    yield n1 # returns each number in the series
    n1 = n2
    n2 = n1+n2
f = fib_series()
#printing the first 10 number in the series
for i in range(10):
  print(next(f))

0
1
2
4
8
16
32
64
128
256

# Regular expression:

In [6]:
#program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9)
import re
def is_allowed_specific_char(string):
    charRe = re.compile(r'[^a-zA-Z0-9]')
    string = charRe.search(string)
    return not bool(string)

print(is_allowed_specific_char("ABCDEFabcdef123450")) 
print(is_allowed_specific_char("*&%@#!}{"))

True
False

In [7]:
#program that matches a word containing 'z
import re
def text_match(text):
      patterns = '\w*z.\w*'
      if re.search(patterns,text):
           return 'Found a match'
      else:
           return ('Not matched')
print(text_match("The quick brown for jumps over the lazy dog. "))
print(text_match("Python Excercises."))

Found a match
Not matched

In [8]:
#program that matches a string that has an 'a' followed by anything ending in 'b'.
import re
def text_match(text):
    patterns = 'a.*?b$'
    if re.search(patterns,text):
       return 'Found a match!'
    else:
        return('Not matched')
print(text_match("aabbbbd")) 
print(text_match("aabAbbbc"))
print(text_match("accddbbjjjb"))

Not matched
Not matched
Found a match!

In [9]:
# program to find sequences of lowercase letters joined by an underscore.
import re
def text_match(text):
   patterns = '^[a-z]+_[a-z]+$'
   if re.search(patterns,text):
       return 'Found a match!'
   else :
       return ('Not matched')
print(text_match("aab_cbbbc"))
print(text_match("aab_Abbbc"))
print(text_match("Aaab_abbbc"))

Found a match!
Not matched
Not matched

In [10]:
#Python program to separate and print the numbers and their position in a given string.
import re
#input a text
text = "The following example creates an Arraylist with a capacity of 50 elements.Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
for m in re.finditer("\d+",text):
  print(m.group(0))
  print("Index position :",m.start())

50
Index position : 62

In [12]:
#program to remove words from a string of length between 1 and a given number.
import re
text = "The quick brown fox jumps over the lazy dog."
# remove words between 1 and 3
shortword = re.compile(r'\W*\b\w{1,3}\b')
print(shortword.sub('', text))

 quick brown jumps over lazy.

# Comprehension:

In [ ]:
#	Write a multiplication table of any given number in a list using list comprehension
n = int(input("Enter a number"))
mul_tab = [n*i for i in range(1,11)]
print(mul_tab)

Enter a number2
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Find all numbers from 1 to 500 that has 5 in them
result = [x for x in range(0,500) if '5' in str(x)]
print(result)

[5, 15, 25, 35, 45, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 65, 75, 85, 95, 105, 115, 125, 135, 145, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 165, 175, 185, 195, 205, 215, 225, 235, 245, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 265, 275, 285, 295, 305, 315, 325, 335, 345, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 365, 375, 385, 395, 405, 415, 425, 435, 445, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 465, 475, 485, 495]

In [ ]:
# generate the list of non-string values
items = ["apple",True,10,"banana",20,30,4.0,"grapes","laptop","phone", False,0]
items
new_items = [x for x in items if type(x)!= str]
print(new_items)

[True, 10, 20, 30, 4.0, False, 0]

In [ ]:
#Generate the boolean True for numeric and False for non-numeric in above items list
items = ["apple",True,10,"banana",20,30,4.0,"grapes","laptop","phone", False,0]
items
new_items = [True if isinstance(i,str) else False for i in items ] 
new_items

[True, False, False, True, False, False, False, True, True, True, False, False]

In [ ]:
#generate two lists of cat and dog image files
files=["cat1.png","dog1.png","cat2.png","cat3.png","cat4.png","dog2.png","cat5.png","cat6.png","dog3.png"]
cat_list =[x for x in files if "cat" in x ]
dog_list = [x for x in files if "dog" in x]
print(cat_list)
print(dog_list)

['cat1.png', 'cat2.png', 'cat3.png', 'cat4.png', 'cat5.png', 'cat6.png']
['dog1.png', 'dog2.png', 'dog3.png']

In [ ]:
#Use appropriate comprehension method to generate the complementary dna template 
# define the template and the mapping
dna_template='AATCCGAAAATTCGGGAATTTTCGCGT'
#dna_template
mapper={"T":"A","A":"T","G":"C","C":"G"}
# mapping each base in the dna_template to comp_dna and iterates over each character in the dna_template
comp_dna = ''.join([mapper[i] for i in dna_template])# join method helps to join list into  a string string
print(comp_dna)

TTAGGCTTTTAAGCCCTTAAAAGCGCA

In [ ]:
import time
#using for loop
start_time = time.time()
nums = []
for i in range (1,10000001):
  nums.append(i**2)
end_time = time.time()
for_loop_time = end_time - start_time
#using list comprehension
start_time = time.time()
nums =[i**2 for i in range(1,10000001)]
end_time = time.time()
list_comp_time = end_time - start_time
print("For Loop time:", for_loop_time)
print("List comprehension",list_comp_time)

For Loop time: 4.2482194900512695
List comprehension 3.5263712406158447

As it is clear that list comprehension is more efficient in both computation as well in the coding space,Also from the above we could analyze the time and it is clear that list comprehension is quite faster than the loop.