<a href="https://colab.research.google.com/github/afshari-maryam/Python-Assignment1/blob/main/Python_Assignmemt1_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python-Assignmemt1

This assignmet is about Python Data Types

Python Basics: Data types

#1.
 Use the constructor methods to create different data types in python (integer,float,string,list,tuple,dictionary,set etc.). Also use object literals to create those data types.**

In [ ]:
#Integer 
#constructor method
x = int(10)
x

10

In [ ]:
#Integer 
#object litteral
x=10
x

10

In [ ]:
#Float
#constructor method
y = float(5.67)
y

5.67

In [ ]:
#Float
#object litteral
y = 5.67
y

5.67

In [ ]:
#String
#constructor method
s = str("hello Integrify")
s

'hello Integrify'

In [ ]:
#String
#object litteral
s = "hello Integrify"
s

'hello Integrify'

In [ ]:
#List
#constructor method
L = list([10,9,8])
L

[10, 9, 8]

In [ ]:
#List
#object litteral
L = [10,9,8]
L

[10, 9, 8]

In [ ]:
#Tuple
#constructor method
T = tuple((1, 2, 3,4,5,6))
T

(1, 2, 3, 4, 5, 6)

In [ ]:
#Tuple
#object litteral
T = (1, 2, 3,4,5,6)
T

(1, 2, 3, 4, 5, 6)

In [ ]:
#Dictionary
#constructor method
D = dict({"name": "Maryam","Id_number":123456, "age": 24})
D

{'name': 'Maryam', 'Id_number': 123456, 'age': 24}

In [ ]:
#Dictionary
#object litteral
D = {"name": "Maryam","Id_number":123456, "age": 24}
D

{'name': 'Maryam', 'Id_number': 123456, 'age': 24}

In [ ]:
#Set
#constructor method
z = set([10,9,8])
z

{8, 9, 10}

In [ ]:
#Set
#object litteral
z =  {10,9,8}
z

{8, 9, 10}

#2. 
Operators in python https://www.w3schools.com/python/python_operators.asp
Create two operands and play around using different operators

In [ ]:
# Addition operator
x = 7
y = 12
result = x + y
print(result)

19

In [ ]:
# Addition operator
x = 7
y = 13
result = x + y
print(result)

20

In [ ]:

# Multiplication operator
x = 4
y = 5
result = x * y
print(result)

20

In [ ]:

# Division operator
x = 10
y = 2
result = x / y
print(result)

5.0

In [ ]:

# Division operator
x = 10
y = 0
result = x / y
print(result)

ZeroDivisionError: ignored

In [ ]:
# Modulus operator
x = 19
y = 3
result = x % y
print(result)

1

In [ ]:
# Exponentiation operator
x = 2
y = 3
result = x ** y
print(result)

8

In [ ]:
# Floor Division operator
x = 18
y = 5
result = x // y
print(result)

3

#3.
Once you create an object of each data type, run dir(object). Navigate the magic methods/dunder methods and other methods and attributes of each object. Try to implement those methods and attributes as many as possible.
Eg:  a=int(5)
       dir(a)
       print(a.__add__(5))
Implementing above dunder method is same as print(a+5)
Verify the data types using methods type and isinstance.

In [ ]:
# Integer
a = int(5)
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
# Implementing the __add__() dunder method and verifying the type of the result
print(a.__add__(10))
print(type(a.__add__(10))) 
print(isinstance(a.__add__(10), int))

15
<class 'int'>
True

In [ ]:
# Float
b = float(3.14)
print(dir(b))

['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__setformat__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [ ]:
# Implementing the __trunc__() dunder method and verifying the type of the result
print(b.__trunc__()) 
print(type(b.__trunc__())) 
print(isinstance(b.__trunc__(), int))

3
<class 'int'>
True

In [ ]:
# String
c = str("hello")
print(dir(c))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
# Implementing the islower() method and verifying the type of the result
print(c.islower()) 
print(type(c.islower())) 
print(isinstance(c.islower(), bool))

True
<class 'bool'>
True

In [ ]:
# Implementing the isupper() method and verifying the type of the result
print(c.isupper()) 
print(type(c.isupper())) 
print(isinstance(c.isupper(), bool))

False
<class 'bool'>
True

In [ ]:
# List
d = list([1, 2, 3])
print(dir(d))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# Implementing the append() method and verifying the type of the result
d.append(4)
print(d) 
print(type(d)) 
print(isinstance(d, list))

[1, 2, 3, 4]
<class 'list'>
True

In [ ]:
# Tuple
e = tuple((1, 2, 3))
print(dir(e))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
# Implementing the index() method and verifying the type of the result
print(e.index(2)) 
print(type(e.index(2))) 
print(isinstance(e.index(2), int))

1
<class 'int'>
True

In [ ]:
# Dictionary
f = dict({"name": "John", "age": 30})
print(dir(f))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
# Implementing the update() method and verifying the type of the result
f.update({"city": "New York"})
print(f) 
print(type(f)) 
print(isinstance(f, dict))

{'name': 'John', 'age': 30, 'city': 'New York'}
<class 'dict'>
True

In [ ]:
# Set
g = set([1, 2, 3])
print(dir(g))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
# Implementing the add() method and verifying the type of the result
g.add(4)
print(g) 
print(type(g)) 
print(isinstance(g, set))

{1, 2, 3, 4}
<class 'set'>
True

#4.

Learn different ways to format the string. 
Tutorials on https://realpython.com/python-formatted-output/
Try:

In [ ]:
print("I love", "python")

I love python

In [ ]:
print("I love"+" python")

I love python

In [ ]:
print("I love"+" python" +" version", 3.10)

I love python version 3.1

In [ ]:
print("I love"+" python" + " version S.2",3.10)

I love python version S.2 3.1

In [ ]:
print("I love %s version %.2f"%("python" ,3.10))

I love python version 3.10

In [ ]:
# Using format positional argument
print("I love {} version {}". format("python", 3.10))

I love python version 3.1

In [ ]:
# Using format positional argument
print("I love {} version {}". format("python", "3.10"))

I love python version 3.10

In [ ]:
# Using format positional argument
print("I love {} version {:.2f}". format( "python" ,3.10))

I love python version 3.10

In [ ]:
# Using format positional argument
print("I love {1} version of {0}". format( "python", "3.10"))

I love 3.10 version of python

In [ ]:
# Using format keyword argument
print("I love {pl} version {version:.2f}".format(pl="python", version=3.10))

I love python version 3.10

In [ ]:
# Using f-string literal
info={"pl": "python", "version":3.10}
print(f"I Love {info.get('pl')} version {info.get('version'):.2f}")

I Love python version 3.10

In [ ]:
# Can be done with uppercase f literal and single quote but double quote while accessing dictionary value
print(F'I love {info["pl"]} version {info["version"]:.2f}')

I love python version 3.10

In [ ]:
# f-string conditional
batch= 'ML'
print(f'I love {"javascript" if batch=="FS" else "python"}')

I love python

In [ ]:
# f-string conditional
batch="FS"
print(f'I love {"javascript" if batch=="FS" else "python"}')

I love javascript

#5.
Familiarize yourself with indexing in python.Iterables can be accessed using index values in python. Eg: list, tuple,dict, set 
Create a list of items. 
Eg:countries= [“Finland”,“Sweden”,”Denmark”,”Netherlands”,”Germany”,”Norway”,”Iceland”]
Find the index of “Sweden”. 
Get all the items except the first
Get all the items except the last
Find the last item using negative indexing
Find the last three item using negative indexing
Grab all the items with odd indices
Find the first and last item for the list
Get [”Netherlands”,”Germany”,”Norway”] using negative indexing
Reverse the list
What is the output of countries[::-2]
What is the output of countries[1:100:2]?
What is the output of countries[len(countries)-1:0:2]?
Get the output ['Germany', 'Netherlands', 'Denmark']
Use enumerate method to get index and values in the list

In [10]:
# Create a list of countries
countries = ["Finland", "Sweden", "Denmark", "Netherlands", "Germany", "Norway", "Iceland"]
countries

['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']

In [11]:
# Find the index of "Sweden"
index_of_sweden = countries.index("Sweden")
print(index_of_sweden)

1

In [2]:
# get all the items except the first
print(countries[1:])

['Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']

In [3]:
# find the last item using negative indexing
print(countries[-1])

Iceland

In [4]:
# find the last three items using negative indexing
print(countries[-3:])

['Germany', 'Norway', 'Iceland']

In [5]:
# grab all the items with odd indices
print(countries[1::2])

['Sweden', 'Netherlands', 'Norway']

In [7]:
# grab all the items with even indices
print(countries[0::2])

['Finland', 'Denmark', 'Germany', 'Iceland']

In [8]:
# get ["Netherlands","Germany","Norway"] using negative indexing
print(countries[-4:-1])

['Netherlands', 'Germany', 'Norway']

In [15]:
# reverse the list
print(countries[::-1])

['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']

In [16]:
# output of countries[::-2]
print(countries[::-2])

['Iceland', 'Germany', 'Denmark', 'Finland']

In [17]:
# output of countries[1:100:2]
print(countries[1:100:2])

['Sweden', 'Netherlands', 'Norway']

In [18]:
# output of countries[len(countries)-1:0:2]
print(countries[len(countries)-1:0:2])

[]

In [19]:
# use enumerate method to get index and values in the list
for index, country in enumerate(countries):
    print(index, country)

0 Finland
1 Sweden
2 Denmark
3 Netherlands
4 Germany
5 Norway
6 Iceland

#6.
 Exercise on dictionaries
Given the two lists of same length, create a dictionary using a list as keys and      another list as values without using loop
Eg: ["a","b","c","d"],[1,2,3,4] lists should be made {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Hint: zip method
Create two dictionaries, merge them into one.
Hint: update method/dictionary unpacking
Given the list of students, assign them the course.
Students=[“Duy”, “Laxmi”,”Antonio”,”Maria”]
Course["Python","Database","ML"] 
Should result to the new dictionary students_profile=
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'],
 'Antonio': ['Python', 'Database', 'ML'],'Maria': ['Python', 'Database', 'ML']}
Modify Antonio’s course to ["JavaScript","Database","NodeJS"]
Add “ReactJs” to Anonio’s course
Replace Antonio’s “ReactJs” to “Vuejs”
Remove an item from dictionary

1. Given the two lists of same length, create a dictionary using a list as keys and another list as values without using loop

In [20]:
keys = ["a","b","c","d"]
values = [1,2,3,4]

# create dictionary using zip method
dictionary = dict(zip(keys, values))

print(dictionary)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

2. Create two dictionaries, merge them into one.
Hint: update method/dictionary unpacking

In [21]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# merge dictionaries using update method
dict1.update(dict2)

print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [22]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# merge dictionaries using dictionary unpacking
merged_dict = {**dict1, **dict2}

print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

3. Given the list of students, assign them the course.

In [23]:
students = ["Duy", "Laxmi", "Antonio", "Maria"]
courses = ["Python", "Database", "ML"]

# assign courses to students
students_profile = {student: courses for student in students}

print(students_profile)

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['Python', 'Database', 'ML'], 'Maria': ['Python', 'Database', 'ML']}

4. Modify Antonio’s course to ["JavaScript","Database","NodeJS"]

In [24]:
students_profile["Antonio"] = ["JavaScript", "Database", "NodeJS"]

print(students_profile)

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS'], 'Maria': ['Python', 'Database', 'ML']}

5. Add “ReactJs” to Antonio’s course

In [25]:
students_profile["Antonio"].append("ReactJs")

print(students_profile)

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'ReactJs'], 'Maria': ['Python', 'Database', 'ML']}

6. Replace Antonio’s “ReactJs” to “Vuejs”

In [26]:
students_profile["Antonio"][2] = "Vuejs"

print(students_profile)

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'Vuejs', 'ReactJs'], 'Maria': ['Python', 'Database', 'ML']}

7. Remove an item from dictionary

In [27]:
del students_profile["Maria"]

print(students_profile)

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'Vuejs', 'ReactJs']}