<div style = "text-align: left"><font size = 8 color = "#B22222" face = "verdana"><b>Integrify</b></font></div>
<div style = "text-align: left"><font size = 5 color = "#00008B" face = "verdana"><b>iterators_generator_regex_list_comp_assignment_4</b></font></div>
<div style = "text-align: leftt"><font><i>By Jeremiah Aremu</i></font></div>
<div style = "text-align: leftt"><font>24th March 2023</font></div>

In [16]:
#Code space custom format 
import warnings
import pandas as pd
warnings.simplefilter(action='ignore', category=RuntimeWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

#### Import libraries

In [17]:
import itertools
# itertools was a bit tricky to install depending on the version of python installed 
# the comman below worked evetually 
#  conda install -c conda-forge more-itertools #

#### 1.
Create a list apply iter method to it and run next method until you get Stop Iteration error

In [18]:
iter_list = ['apple','banana2','cherry', 'grape']
itr_iter_list = iter(iter_list)

In [19]:
print(next(itr_iter_list))

apple

In [20]:
print(next(itr_iter_list))

banana2

In [21]:
print(next(itr_iter_list))

cherry

In [22]:
print(next(itr_iter_list))

grape

In [23]:
print(next(itr_iter_list))

StopIteration:

#### 2.
Import itertools in your notebook and create infinite iterators using count,cycle and and repeat methods. Refer https://docs.python.org/3/library/itertools.html

In [24]:
import itertools

In [25]:
# infinite itertor using cycle()
count_iter = 0
for i in itertools.count(5,5):
    if i == 50: # introduced to stop it from going to infinity
        break
    else:
    
        print(i, end = " ")

5 10 15 20 25 30 35 40 45

In [26]:
# infinite itertor using cycle()
counter = 0
for j in itertools.cycle('ABC'):
    if counter > 7: # also introduced to abort counting to infinity
        break
    else:
        print(j, end = " ")
        counter+=1

A B C A B C A B

In [27]:
# infinite itertor using repeat()
print(list(itertools.repeat(25, 10))) # removing the second arg "10" python will print infinitely

[25, 25, 25, 25, 25, 25, 25, 25, 25, 25]

In [28]:
# infinite itertor using repeat()
print(list(itertools.repeat(25, 15))) # removing the second arg "10" python will print infinitely

[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25]

#### 3.
Use methods from Iterators terminating on the shortest input sequence

#### accumulate

In [29]:
from itertools import accumulate

In [30]:
# accumulate
# p0, p0 + p1, p0+p1+p2
print(list(accumulate([1,2,3])))

[1, 3, 6]

#### chain

In [31]:
from itertools import chain

In [32]:
#chain
print(list(chain('ABC', 'DEF', 'GHI')))

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

#### compress

In [33]:
from itertools import compress # data selectors

In [34]:
print(list(compress('ABCDEF', [1,0,1,0,1,1])))

['A', 'C', 'E', 'F']

#### dropwhile

In [21]:
from itertools import dropwhile

In [22]:
print(list(dropwhile(lambda x: x<5, [1,4,6,4,1])))

[6, 4, 1]

In [23]:
print(list(dropwhile(lambda x: x<3, [1,2,1,2,0,4,6,4,1])))

[4, 6, 4, 1]

#### filterfalse

In [36]:
from itertools import filterfalse

In [37]:
filter_var = filterfalse(lambda x: x%2, range(10))
print(list(filter_var))

[0, 2, 4, 6, 8]

In [38]:
filter_var2 = filterfalse(lambda x: x in [1,4,6], range(10))
print(list(filter_var2))

[0, 2, 3, 5, 7, 8, 9]

#### groupby

#### islice

In [39]:
from itertools import islice

In [40]:
islice_sample = islice('ABCDEFG', 2, None)
print(list(islice_sample))

['C', 'D', 'E', 'F', 'G']

In [41]:
islice_sample2 = islice('ABCDEFG', 3, None)
print(list(islice_sample2))

['D', 'E', 'F', 'G']

#### pairwise

In [43]:
! python --version

Python 3.9.16

In [2]:
from itertools import pairwise
#seem like you need python 3.10 to be able to run this

ImportError: cannot import name 'pairwise' from 'itertools' (unknown location)

In [44]:
# pairwise('ABCDEFG')

#### starmap

In [13]:
from itertools import starmap
# this raises the power of the the first element in the tuple to that of the second element

In [14]:
check_it = list(starmap(pow, [(2,5), (3,2), (4,3)]))
check_it

[32, 9, 64]

#### takewhile

In [34]:
from itertools import takewhile

In [35]:
print(list(takewhile(lambda x: x<5, [1,4,6,4,1])))

[1, 4]

In [36]:
print(list(takewhile(lambda x: x < 5, [1, 2, 21, 11, 15, 7, 2, 2, 3, 4, 5, 6])))

[1, 2]

#### tee

In [37]:
from itertools import tee

In [38]:
my_iterable = [1,2, 3, 4, 5, 6]

iter1, iter2 = tee(my_iterable)

In [39]:
list_iter1 = list(iter1)
list_iter1

[1, 2, 3, 4, 5, 6]

In [40]:
list_iter2 = list(iter2)
list_iter2

[1, 2, 3, 4, 5, 6]

In [41]:
for a in list_iter1:
    print (a, end = " ")

1 2 3 4 5 6

In [42]:
for b in list_iter2:
    print (b, end = " ")

1 2 3 4 5 6

In [43]:
it_iter = [1,2,3]

In [44]:
# use tee() to create three independent iterators
it1, it2, it3 = tee(it_iter, 3)

In [45]:
print(list(it3))

[1, 2, 3]

#### zip_longest

In [46]:
from itertools import zip_longest

In [47]:
zip_sample = zip_longest('ABCD', 'xyzx', fillvalue='-')
print(list(zip_sample))

[('A', 'x'), ('B', 'y'), ('C', 'z'), ('D', 'x')]

In [48]:
zip_sample = zip_longest('ABCDEF', 'xyzx', fillvalue='*')
print(list(zip_sample))

[('A', 'x'), ('B', 'y'), ('C', 'z'), ('D', 'x'), ('E', '*'), ('F', '*')]

#### 3.
combinatorial iterators

#### product

In [49]:
from itertools import product

In [50]:
product_xample = product('ABCD', repeat =2)
print(list(product_xample))

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('A', 'D'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('B', 'D'), ('C', 'A'), ('C', 'B'), ('C', 'C'), ('C', 'D'), ('D', 'A'), ('D', 'B'), ('D', 'C'), ('D', 'D')]

#### permutations

In [51]:
from itertools import permutations

In [52]:
permt_xample = permutations('ABCD', 2)
print(list(permt_xample))

[('A', 'B'), ('A', 'C'), ('A', 'D'), ('B', 'A'), ('B', 'C'), ('B', 'D'), ('C', 'A'), ('C', 'B'), ('C', 'D'), ('D', 'A'), ('D', 'B'), ('D', 'C')]

#### combinations

In [53]:
from itertools import combinations

In [54]:
comb_xample = combinations('ABCD', 2)
print(list(comb_xample))

[('A', 'B'), ('A', 'C'), ('A', 'D'), ('B', 'C'), ('B', 'D'), ('C', 'D')]

#### combinations_with_replacement

In [55]:
from itertools import combinations_with_replacement

In [56]:
con_re_xample = combinations_with_replacement('ABCD', 2)
print(list(con_re_xample))

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('A', 'D'), ('B', 'B'), ('B', 'C'), ('B', 'D'), ('C', 'C'), ('C', 'D'), ('D', 'D')]

4.

#### Create an infinite generator that generates the fibonacci series

#### 5.
#### Regex (Regular expressions)

5a. Write a Python program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9)

In [3]:
import re

In [4]:
string_to_check = ("ABCDEFabcdef123450")
string_to_check2 = ("*&%@#!}{")

In [5]:
def check_character_string(string):
    chr_to_check = re.compile(r'[^a-zA-Z0-9]')
    search_str = chr_to_check.search(string)
    return bool(string)

In [6]:
print(check_character_string(string_to_check), check_character_string(string_to_check2))

True True

5b. Write a Python program that matches a string that has an "a" followed by zero or more "b"s.

In [7]:
text1 = "ac"
text2 = "abc"
text3 = "a"
text4 = "ab"
text5 = "abb"

In [8]:
def text_match(text):
    patterns = '^a(b*)$'
    if re.search(patterns, text):
        return 'found a match'
    else:
        return ('not matched!')
    
print(text_match("ac"))
print(text_match("abc"))
print(text_match("a"))
print(text_match("ab"))
print(text_match("abb"))

not matched!
not matched!
found a match
found a match
found a match

5c. Write a Python program that matches a string that has an a followed by one or more b's.

In [9]:
def func_match(text1):
    patterns = 'ab+?'
    if re.search(patterns, text1):
        return 'match found!'
    else:
        return 'matct not found'
    
print(func_match("ab"))
print(func_match("axb"))

match found!
matct not found

5d. Write a Python program that matches a word at the beginning of a string.

In [10]:
def word_at_beginning(text2):
    patterns = '^\w+'
    if re.search(patterns, text2):
        return 'Found a match'
    else:
        return('Not matched')
    
print(word_at_beginning("The quick brown fox jumps over the lazy dog"))
print(word_at_beginning(" The quick brown fox jumps over the lazy dog"))

Found a match
Not matched

5e. Write a Python program to remove leading zeros from an IP address.

In [11]:
ip = "216.08.094.196"
string2 = re.sub('\.[0]*', '.', ip)
print(string2)

216.8.94.196

5f. Write a Python program that matches a string that has an a followed by zero or one 'b'.

In [12]:
def text_match(text):
    pattern = 'ab?'
    if re.search(pattern, text):
        return 'Found a match'
    else:
        return('Not matched!')
text_match("ab")

'Found a match'

Write a Python program that matches a string that has an 'a' followed by three 'b'

In [16]:
def text_match(text):
    patterns = 'ab{3}?'
    if re.search(patterns, text):
        return 'Found a match'
    else:
        return('Not matched')
    
print(text_match("abbb"))
print(text_match("abbbbbc"))

Found a match
Found a match

Write a Python program that matches a string that has an a followed by two to three 'b'.

In [17]:
def text_match(text):
        patterns = 'ab{2,3}'
        if re.search(patterns,  text):
                return 'Found a match!'
        else:
                return('Not matched!')
print(text_match("ab"))
print(text_match("aabbbbbc"))

Not matched!
Found a match!

#### 6.
#### Comprehension

#### List comprehension

In [57]:
# list comprehension for constructing output list
# from the input list construct list of items divisible by 2
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]

In [58]:
output_list = [x for x in input_list if x%2==0]
output_list

[2, 4, 4, 6]

In [59]:
# list of all the squares of number between 1 and 9
input_list2 = list(range(1,10))
input_list2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
output_list2 = [i**2 for i in input_list2 ]
output_list2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### dictionary comprehension

Suppose we want to create an output dictionary which contains only the odd numbers that are present in the input_list3 as keys and their cubes as values. Let’s see how to do this using for loops and dictionary comprehension.

input_list3 = [1,2,3,4,5,6,7]

In [61]:
input_list3 = [1,2,3,4,5,6,7]

In [62]:
output_dict = {q:q **3 for q in input_list3 if q%2 !=0}
output_dict

{1: 1, 3: 27, 5: 125, 7: 343}

Given two lists containing the names of states and their corresponding capitals, construct a dictionary which maps the states with their respective capitals. Let’s see how to do this using for loops and dictionary comprehension.

In [63]:
state = ['Gujarat', 'Maharashtra', 'Rajasthan']
capital = ['Gandhinagar', 'Mumbai', 'Jaipur']

In [64]:
output_dict2 = {key:val for (key,val) in zip(state,capital)}
output_dict2

{'Gujarat': 'Gandhinagar', 'Maharashtra': 'Mumbai', 'Rajasthan': 'Jaipur'}

#### set comprehension

**Note:** set discard duplicate values

Suppose we want to create an output set which contains only the even numbers that are present in the input list. Note that set will discard all the duplicate values. Let’s see how we can do this using for loops and set comprehension.

In [65]:
input_list

[1, 2, 3, 4, 4, 5, 6, 7, 7]

In [66]:
set_output = {ele for ele in input_list if ele%2 == 0}
set_output

{2, 4, 6}

#### Generator comprehension
**Note:** They do not allocate memory for the whole list hence they are memory efficient and are generated in circular brackets unlike list comprehension

In [76]:
input_list

[1, 2, 3, 4, 4, 5, 6, 7, 7]

In [100]:


output_gen = (v for v in input_list if v % 2 == 0)

overall_output = []
for v in output_gen:
    overall_output.append(v)
overall_output

[2, 4, 4, 6]

Write a multiplication table of any given number in a list using list comprehension

In [70]:
number = 5
multp_tab_5 = [number* i for i in range(1, 13)]
multp_tab_5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]

Find all numbers from 1 to 500 that has 5 in them

In [81]:
numbers_with_5 = [z for z in range(1, 501) if '5' in str(z)]
print(numbers_with_5)

[5, 15, 25, 35, 45, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 65, 75, 85, 95, 105, 115, 125, 135, 145, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 165, 175, 185, 195, 205, 215, 225, 235, 245, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 265, 275, 285, 295, 305, 315, 325, 335, 345, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 365, 375, 385, 395, 405, 415, 425, 435, 445, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 465, 475, 485, 495, 500]

generate the list of non-string values

In [56]:
list_items = ["apple",True,10,"banana",20,30,4.0,"grapes","laptop","phone", False,0]

In [57]:
non_string_outpt = (s for s in list_items if type(s) != str)


overall_output2 = []
for s in non_string_outpt:
    overall_output2.append(s)
print(overall_output2, end = " ")

[True, 10, 20, 30, 4.0, False, 0]

Generate the boolean True for numeric and False for non-numeric in above items list

In [60]:
numbers = [1, 2, 3, 4, 2, 5]

# check if numbers is instance of list
result = isinstance(numbers, list)
print(result)

True

In [59]:
numeric_true_false = [isinstance(item, (int, float)) for item in list_items]
numeric_true_false

[False, True, True, False, True, True, True, False, False, False, True, True]

["cat1.png","dog1.png","cat2.png","cat3.png","cat4.png","dog2.png","cat5.png","cat6.png","dog3.png"], generate two lists of cat and dog image files

In [125]:
files=["cat1.png","dog1.png","cat2.png","cat3.png","cat4.png","dog2.png","cat5.png","cat6.png","dog3.png"]
cat_list = [filename for filename in files if filename.startswith('cat')]
dog_list = [filename for filename in files if filename.startswith('dog')]
print(cat_list)
print(dog_list)

['cat1.png', 'cat2.png', 'cat3.png', 'cat4.png', 'cat5.png', 'cat6.png']
['dog1.png', 'dog2.png', 'dog3.png']

DNA is coded using 4 nitrogen bases with the symbols A,T,G,C. Given the template string dna_template='AATCCGAAAATTCGGGAATTTTCGCGT'


generate the complementary dna template with the mapping

mapper={"T":"A","A":"T","G":"C","C":"G"}

In [128]:
dna_template='AATCCGAAAATTCGGGAATTTTCGCGT' 
dna_template_list = list('AATCCGAAAATTCGGGAATTTTCGCGT')
print(dna_template_list, end=" ")

['A', 'A', 'T', 'C', 'C', 'G', 'A', 'A', 'A', 'A', 'T', 'T', 'C', 'G', 'G', 'G', 'A', 'A', 'T', 'T', 'T', 'T', 'C', 'G', 'C', 'G', 'T']

In [133]:
mapper={"T":"A","A":"T","G":"C","C":"G"}

complementary_dna = [mapper[i] for i in dna_template_list]
print(complementary_dna, end = " ")

['T', 'T', 'A', 'G', 'G', 'C', 'T', 'T', 'T', 'T', 'A', 'A', 'G', 'C', 'C', 'C', 'T', 'T', 'A', 'A', 'A', 'A', 'G', 'C', 'G', 'C', 'A']

In [47]:
import time

In [53]:
# using for loop
start_time = time.time()
nums = []
for i in range(1,10000001):
    nums.append(i**2)
end_time = time.time()
for_loop_time = end_time - start_time
for_loop_time

2.7856972217559814

In [51]:
# using list comprehension
start_time2 = time.time()
nums = [i**2 for i in range(1 , 10000001)]
end_time2 = time.time()
list_comp_time= end_time2 - start_time2
list_comp_time

2.3770503997802734

**Observation**: The list_comprehension is obviously shorter than that of for loop